<nav class="navbar bg-body-tertiary sticky-top">
    <div class="container-fluid" style="position: fixed;" >
      <a class="navbar-brand" style="color: black;"><i><b>Cool Trendy Vogue</b></i></a>
        
      <form class="d-flex icons" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px;" id="search">
        &nbsp; &nbsp;
        <button class="btn btn-outline-success" type="submit" > <i class="fa-solid fa-magnifying-glass"></i></button>
        <div class="icons navbar-icons">
            <i class="fa-regular fa-user"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
      </form>
    </div>
  </nav>