<nav class="navbar bg-body-tertiary">
    <div class="container-fluid" >
      <a class="navbar-brand" style="color: black;"><b>Cool Trendy Vogue</b></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 290px;">
        <button class="btn btn-outline-success" type="submit" >SEARCH <i class="fa-solid fa-magnifying-glass"></i></button>
        <div class="icons">
            <i class="fa-regular fa-user"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
      </form>
    </div>
  </nav>